@model Yashmak.Web.Models.Directory.NavigationDirectoryViewModel

@{
    ViewBag.Title = "Create Folder";
}

<h2>@ViewBag.Title in @Model.FileName</h2>
@using (Html.BeginForm("CreateFolder", "Directory", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="alert alert-warning">
        @Html.ValidationSummary()
    </div>
    @Html.AntiForgeryToken();
    <input type="text" required="required" class="form-control" name="FileName" id="FileName" placeholder="Folder Name"/>
    <input type="submit" class="btn btn-primary" name="CreateFolder" value="Create" />
    <input type="hidden" value="@Model.Id" name="Id" id="Id" />
}
