@model Yashmak.Web.Models.Directory.NavigationDirectoryViewModel

@{
    ViewBag.Title = "Create Folder";
}

<h2>@ViewBag.Title in @Model.FileName</h2>
@using (Html.BeginForm("CreateFolder", "Directory",FormMethod.Post))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();
    <input type="text" required="required" name="FileName" id="FileName" placeholder="Folder Name"/>
    <input type="submit" name="CreateFolder" value="Create"/>
    <input type="hidden" value="@Model.Id" name="Id" id="Id" />
}
