<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Yashmak</title>
        @Styles.Render("~/Content/css")
        @RenderSection("styles", required: false)
        @Styles.Render("~/Content/site")
        @Scripts.Render("~/bundles/jquery")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Yashmak", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Files", "Index", "Files")</li>
                            <li>
                                @using (Html.BeginForm("Search", "Search", FormMethod.Post, new { @class = "navbar-form navbar-right", role = "search" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <input type="text" name="query" class="form-control" placeholder="Search files">
                                    </div>
                                    <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
                                }
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content" id="main-content">
            @RenderBody()
        </div>
        <hr />
        <footer class="panel-footer panel text-center">
            <p><a href="http://github.com/mitov90" class="fa fa-github fa-3x"></a></p>
        </footer>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>