@using Microsoft.AspNet.Identity
@using Constants = Yashmak.Common.Constants
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
           
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", new {area = string.Empty}, htmlAttributes: new { title = "Manage", area = "" })
            </li>
            @if (User.IsInRole(Constants.AdminRole))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Adminisration <b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Navigation", "Navigation", "Home", new { area = "Admin" }, new { })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Files", "Index", "Files", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Users", "Index", "Users", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Logs", "Index", "Logs", new { area = "Admin" }, new { })</li>
                    </ul>
                </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}