@model Yashmak.Web.ViewModels.Directory.DirectoryViewModel

<div id="files">
    <div class="row">
        <ol class="breadcrumb">
            @{
                @Html.DisplayFor(x => x.NavigationModels)
            }
        </ol>
    </div>
    
    <input type="hidden" id="curFolderId" value="null"/>
    <div class="">
        @Ajax.ActionLink(" Upload", "FileUpload", "Upload", 
            new { fileNodeId = @Model.FileNodeId }, 
            new AjaxOptions
                {
                    UpdateTargetId = "files", 
                    InsertionMode = InsertionMode.Replace, 
                    HttpMethod = "GET", 
                }, 
            new { @class = "fa fa-upload dynamic-change-id btn btn-primary btn-sm" })

        @Html.ActionLink(" Folder", "CreateFolder", "Directory", 
            new { fileNodeId = @Model.FileNodeId }, 
            new { @class = "fa fa-folder-o dynamic-change-id btn btn-inverse btn-sm" })
    </div>
    <div class="row">
        <table class="table table-responsive table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th> </th>
                    <th style ="width: 50%">Name </th>
                    <th>Kind</th>
                    <th>Modified</th>
                    <th>Size</th>
                    <th>Permission</th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayFor(x => x.Files)
            </tbody>
        </table>
    </div>

</div>