@model Yashmak.Web.ViewModels.File.FileViewModel


<div class="modal-body">
    <div class="alert alert-success text-center">
        <span class="glyphicon glyphicon-file"></span>
        @Model.FileName
    </div>
    @using (Html.BeginForm("Download", "Files", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row text-center">
            Share link:
        </div>
        <div class="row text-center">
            @Url.Action("Download", "Files", new { filenodeid = @Model.Id }, "http")
            &nbsp;
        </div>
        <input type="hidden" name="filenodeid" value="@Model.Id"/>
        <div class="row">
            <div class="row col-md-8 col-md-offset-4">
                <button type="submit" id="approve-btn"
                        class="btn btn-inverse">
                    Download
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Cancel
                </button>

            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(function() {
        $('#approve-btn').click(function() {
            $('#modal-container').modal('hide');
        });
    });
</script>