@model Yashmak.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <section id="loginForm" class="">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-md-1">
                        
                        <label for="login-name" class=" fa fa-user"></label>
                    </div>
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label icon-user"  })*@
                    <div class="col-md-11">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control login-field", placeholder = "Enter your name", id = "login-name" })
                        @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-1">

                        <label for="login-name" class=" fa fa-lock"></label>
                    </div>
                    <div class="col-md-11">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control login-field" })
                        @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block" />
                    </div>
                </div>

                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>

@* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}