@using System.Globalization
@model Yashmak.Web.Models.Directory.FileViewModel
<tr class="hidden">
    <td></td>
    <td>
        @Html.ActionLink("Download", "Download", "Files", new { fileNodeId = Model.Id }, new { @class = "fa fa-cloud-download" })
        @Html.ActionLink("Share", "Share", "Permission", new { fileNodeId = Model.Id }, new { @class = "fa fa-share" })
        @Html.ActionLink("Delete", "Delete", "Files", new { fileNodeId = Model.Id }, new { @class = "fa fa-remove" })
        @Html.ActionLink("Rename", "Rename", "Files", new { fileNodeId = Model.Id }, new { @class = "fa fa-pencil" })
        @Html.ActionLink("Move", "Move", "Files", new { fileNodeId = Model.Id }, new { @class = "fa fa-folder-open" })
    </td>
    <td>Create folder</td>
    <td>File Upload</td>
</tr>
<tr class="file-row">
    <td>
        @{
            if (Model.IsDirectory)
            {
                <span class="fa fa-folder fa-2x"></span>
            }
            else
            {
                <span class="fa fa-file-text fa-2x"></span>
            }

}
    </td>
    <td>@Ajax.ActionLink(Model.FileName, "ViewFolder", "Files",
    new { fileId = Model.Id }, 
    new AjaxOptions {
        UpdateTargetId = "files", 
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        OnComplete = "new function(){OnFolderChange(" + Model.Id + ")}"
    })</td>
    <td>@{
            if (Model.IsDirectory)
            {
                <span>folder</span>
            }
            else
            {
                var index = Model.FileName.LastIndexOf('.');
                if (index == -1)
                {
                    <span>binary</span>
                }
                else
                {
                    <span>@Model.FileName.Substring(index)</span>
                }
            }

        }</td>
    <td>@Html.DisplayFor(f => f.ModifiedOn)</td>
    <td>@(Model.Size == 0 ? "-" : Model.Size.ToString(CultureInfo.InvariantCulture))</td>
</tr>